# Virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl

# IDE files
.vscode/
.idea/

# Environment / secrets
.env
.env.*
*.bak
*.key
*.pem

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/
